---

---

<header class="w-full z-10 mx-auto mb-12 sm:mb-16 fixed left-0 right-0 bg-[#282828] transition duration-200">
    <nav>
        <ul class="flex gap-12 text-white p-4 justify-center">
            <li>
                <a href="#home" class="nav-link transition duration-200 hover:text-gray-400 font-bold">HOME</a>
            </li>
            <li>
                <a href="#projet" class="nav-link transition duration-200 hover:text-gray-400 font-bold">PROJETS</a>
            </li>
            <li>
                <a href="#technologie" class="nav-link transition duration-200 hover:text-gray-400 font-bold">TECHNOLOGIES</a>
            </li>
        </ul>
    </nav>
</header>
