---
import Card from "./Card/Card.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6">
    <div class="flex flex-col justify-around gap-2">
        <h2 class="text-white text-xl font-bold pb-3">A propos de moi</h2>
        <p class="text-sm font-light">
            Salut, je m'appelle Thomas et je suis développeur web & mobile, en <b
                class="font-bold">France</b
            >
            <ul class="list-disc list-inside">
                <li>JavaScript</li>
                <li>React</li>
                <li>React Native</li>
                <li>Next</li>
                <li>Astro</li>
                <li>Php</li>
                <li>Laravel</li>
                <li>Nodejs</li>
            </ul>
        </p>
        <p class="text-xs sm:text-sm md:text-base lg:text-sm xl:text-sm font-light">
            J'aimerais que grâce à ses technologies, trouver le meilleur
            environnement pour travailler le plus rapidement et de manière
            optimisée.
        </p>
        
        <p class="text-xs sm:text-sm md:text-base lg:text-sm xl:text-sm font-light">
            A part le développement web, j'aime beaucoup le dessin, l'animation
            et la modélisation 3D, la photographie ainsi que les voyages.
        </p>
</div>
</Card>
