---
import Card from "./Card/Card.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="A propos de moi">
    <div class="flex flex-col gap-2">
        <p class="text-sm font-light">
            Salut, je m'appelle Thomas et je suis développeur Front-end, en <b
                class="font-bold">France</b
            >
            <br />
            Mes principales technologies:
            <ul class="list-disc list-inside">
                <li>JavaScript</li>
                <li>React</li>
                <li>React Native</li>
                <li>Next</li>
                <li>Astro</li>
                <li>Php</li>
                <li>Laravel</li>
                <li>Nodejs</li>
            </ul>
        </p>
        <p class="text-sm font-light">
            A part le developpement web, j'aime beaucoup le dessin, l'animation
            et la modélisation 3D, la photographie ainsi que les voyages.
        </p>
        <p class="text-sm font-light">
            J'aimerais que grâce à ses technologies, trouver le meilleur environnement pour travailler le plus rapidement et de manière optimisée.
        </p>
    </div>
</Card>
