---
import Card from "./Card/Card.astro";
---

<Card class:list="bg-cover" colSpan="md:col-span-1" rowSpan="md:row-span-2">
	<div class="flex w-full h-full">
		<div class="flex flex-col h-full max-h-[300px]">
			<div class="flex justify-evenly flex-col h-full">
			
			</div>
		</div>
	</div>
</Card>

<style>
    .bg-cover {
      background-image: url("../../public/Moi.webp");
    }
  </style>
