---
import Card from "../Card/Card.astro";
import { Icon } from 'astro-icon/components'
interface Props {
  name?: string;
  icon?: string;
}

const { name, icon } = Astro.props;
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="relative">
    <div
      class="absolute top-0 left-0 w-8 h-8 flex items-center justify-center bg-white rounded-full"
    >
    <Icon name={icon} />
    </div>
    <div class="pt-8 flex justify-between w-full items-start mb-2">
      <div class="flex flex-col">
        {name && <span class="text-xl font-bold m-0 z-20">{name}</span>}
      </div>
    </div>
  </div>
</Card>

<style lang="css">
  [data-icon] {
      color: rgb(0, 0, 0);
      /* OR */
      fill: rgb(0, 0, 0);
  }
</style>